In [ ]:
# 5.2 - Write an express that evaluate to the mean of a tuple of numbers 
# Use the function sum
tup = (1,2,3,4,5)
sum(tup)/len(tup)

In [ ]:
L = [1,2,3]
L.append(L)
print(L is L[-1]) 
print(L)

In [1]:
[x for x in range(2, 100) if any(x%y == 0 for y in range(2,x))]

[4,
 6,
 8,
 9,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 21,
 22,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 38,
 39,
 40,
 42,
 44,
 45,
 46,
 48,
 49,
 50,
 51,
 52,
 54,
 55,
 56,
 57,
 58,
 60,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 72,
 74,
 75,
 76,
 77,
 78,
 80,
 81,
 82,
 84,
 85,
 86,
 87,
 88,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 98,
 99]

In [5]:
primes = [x for x in range(2, 1000) if all(x%y != 0 for y in range(3,x))]            # Prime number generator 0-100
        












nonprimes = [x for x in range(2, 1000) if any(x%y == 0 for y in range(3,x))]         # Non-Prime number generator
print('Primes',primes,'\nNon-primes',nonprimes)

Primes [2, 3, 4, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]
Non-primes [6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100, 102, 104, 105, 106, 108, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 128, 129, 130, 132, 133, 134, 135, 136, 138, 140, 141, 142, 143, 144, 145, 146, 147, 148, 150, 152, 153, 154, 155, 156, 158, 159, 160, 161, 162, 164, 165, 166, 168, 169, 170, 171, 172, 174, 175, 176, 177, 178, 180, 182, 183, 184, 185, 186, 187, 188, 189, 190, 192, 194, 195, 196, 198, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 224, 225, 226, 228, 230, 231, 232, 234, 235, 236, 237, 238, 240, 242, 243, 244, 245, 246, 247, 248, 249, 250, 252, 253, 254, 255, 256, 258, 259, 260, 261, 262, 264, 265, 266, 267, 268, 270, 272, 273, 274, 275, 276, 278, 279, 280, 282, 284, 285, 286, 287, 288, 289, 290, 291, 292, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 308, 309, 310, 312, 314, 315, 316, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 332, 333, 334, 335, 336, 338, 339, 340, 341, 342, 343, 344, 345, 346, 348, 350, 351, 352, 354, 355, 356, 357, 358, 360, 361, 362, 363, 364, 365, 366, 368, 369, 370, 371, 372, 374, 375, 376, 377, 378, 380, 381, 382, 384, 385, 386, 387, 388, 390, 391, 392, 393, 394, 395, 396, 398, 399, 400, 402, 403, 404, 405, 406, 407, 408, 410, 411, 412, 413, 414, 415, 416, 417, 418, 420, 422, 423, 424, 425, 426, 427, 428, 429, 430, 432, 434, 435, 436, 437, 438, 440, 441, 442, 444, 445, 446, 447, 448, 450, 451, 452, 453, 454, 455, 456, 458, 459, 460, 462, 464, 465, 466, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 480, 481, 482, 483, 484, 485, 486, 488, 489, 490, 492, 493, 494, 495, 496, 497, 498, 500, 501, 502, 504, 505, 506, 507, 508, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 522, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 542, 543, 544, 545, 546, 548, 549, 550, 551, 552, 553, 554, 555, 556, 558, 559, 560, 561, 562, 564, 565, 566, 567, 568, 570, 572, 573, 574, 575, 576, 578, 579, 580, 581, 582, 583, 584, 585, 586, 588, 589, 590, 591, 592, 594, 595, 596, 597, 598, 600, 602, 603, 604, 605, 606, 608, 609, 610, 611, 612, 614, 615, 616, 618, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 632, 633, 634, 635, 636, 637, 638, 639, 640, 642, 644, 645, 646, 648, 649, 650, 651, 652, 654, 655, 656, 657, 658, 660, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 674, 675, 676, 678, 679, 680, 681, 682, 684, 685, 686, 687, 688, 689, 690, 692, 693, 694, 695, 696, 697, 698, 699, 700, 702, 703, 704, 705, 706, 707, 708, 710, 711, 712, 713, 714, 715, 716, 717, 718, 720, 721, 722, 723, 724, 725, 726, 728, 729, 730, 731, 732, 734, 735, 736, 737, 738, 740, 741, 742, 744, 745, 746, 747, 748, 749, 750, 752, 753, 754, 755, 756, 758, 759, 760, 762, 763, 764, 765, 766, 767, 768, 770, 771, 772, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 788, 789, 790, 791, 792, 793, 794, 795, 796, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 810, 812, 813, 814, 815, 816, 817, 818, 819, 820, 822, 824, 825, 826, 828, 830, 831, 832, 833, 834, 835, 836, 837, 838, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 854, 855, 856, 858, 860, 861, 862, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 878, 879, 880, 882, 884, 885, 886, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 908, 909, 910, 912, 913, 914, 915, 916, 917, 918, 920, 921, 922, 923, 924, 925, 926, 927, 928, 930, 931, 932, 933, 934, 935, 936, 938, 939, 940, 942, 943, 944, 945, 946, 948, 949, 950, 951, 952, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 968, 969, 970, 972, 973, 974, 975, 976, 978, 979, 980, 981, 982, 984, 985, 986, 987, 988, 989, 990, 992, 993, 994, 995, 996, 998, 999]

In [17]:
def f(L1, L2):
    """L1, L2 lists of same length of numbers 
    returns the sume of raising each element in L1 
    to the power of the element at the same index in L2
    For example, f([1,2],[2,3]) returns 9"""
    return sum([x**y for x,y in zip(L1, L2)])

f([1,2],[2,3])

[(1, 2), (2, 3)]

9

In [2]:
def get_min(d):
    """d a dict mapping letters to ints
    returns the value in d with the key that occurs first in the 
    alphabet. E.g., if d = {x = 11, b = 12}, get_min returns 12"""
    key_list = list(d.keys())
    # print(key_list)
    key_list.sort()
    # print(key_list)
    return d[key_list[0]]

get_min({'x':11, 'b':12})

12

In [29]:
d = {'x':11, 'b':12}
print(list(d.keys()).sort())

['x', 'b']

In [1]:
print(3+4+"5")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [6]:
L = ['a', 'b'] 
L += 'x'
print(L)
L.append(5)
print(L)

['a', 'b', 'x']
['a', 'b', 'x', 5]

In [8]:
# For loop that prints all even numbers from 1 to 10
for i in range(2,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [9]:
L =0
while L < 100:
    L += 1
    for x in L:
        x%2
        if x==0:
            print(x)

TypeError: 'int' object is not iterable

In [13]:
i = 10
while i > 0:
    i -= 1
    print(i)

9
8
7
6
5
4
3
2
1
0

In [15]:
L = []
mysum = 0
for x in L:
    mysum += x
print(mysum)

0

In [16]:
list("hello")

['h', 'e', 'l', 'l', 'o']

In [17]:
T = (1,2,3)
for i in T:
    print(i)

1
2
3

In [18]:
L = [1,2,3]
[x**2 for x in L]

[1, 4, 9]

In [4]:
def hello(s):
    print(s)


hello('hey you guys')

hey you guys

In [14]:
grades = {'Alex':'A', 'Bobby':'B', 'Charlie':'C'}
grades['Alex']
print(list(grades.values()))
print(grades.keys())

['A', 'B', 'C']
dict_keys(['Alex', 'Bobby', 'Charlie'])

In [9]:
L = [1,2,3,4,5]
def applyToEach(L, f):
    for i in range(len(L)):
        L[i] = f(L[i])
        
def addOne(i):
    return i*21
        
applyToEach(L, addOne)
print(L)

[21, 42, 63, 84, 105]

In [2]:
def lyrics_to_frequencies(lyrics):
    xyz = {}
    for word in lyrics:
        if word in xyz:
            xyz[word] += 1
        else:
            xyz[word] = 1
    return xyz
lyrics_string = """hello foolish humans. how well do you think you thought this through"""
lyrics_string = lyrics_string.replace(',','')
lyrics = lyrics_string.split()
print(lyrics)
print(lyrics_to_frequencies(lyrics))
print(lyrics_to_frequencies(lyrics_string))

['hello', 'foolish', 'humans.', 'how', 'well', 'do', 'you', 'think', 'you', 'thought', 'this', 'through']
{'hello': 1, 'foolish': 1, 'humans.': 1, 'how': 1, 'well': 1, 'do': 1, 'you': 2, 'think': 1, 'thought': 1, 'this': 1, 'through': 1}
{'h': 10, 'e': 2, 'l': 5, 'o': 9, ' ': 11, 'f': 1, 'i': 3, 's': 3, 'u': 5, 'm': 1, 'a': 1, 'n': 2, '.': 1, 'w': 2, 'd': 1, 'y': 2, 't': 5, 'k': 1, 'g': 2, 'r': 1}

In [36]:
def fib(n):
    if n == 1:
        #print('base 1')
        return 1
    elif n == 2: 
        #print('base 2')
        return 2
    else:
        #print(n)
        return fib(n-1) + fib(n-2)
    
    
fib(34)

9227465

# Week 10 Lecture - Chapters 5/6 
## More Dictonary use cases & Recursion

Growth of a rabit population over a short period of time. Rabbits are able to reproduce 1 month after they are born and their justation (prgnant) duration is approximately 1 month. *These assumptions may not be true, but for the purposes of our model that is what we will assume*

```python
 females(0) = 1         # This is one rabbit to start the gene pool on the last day of the month she is ready to concieve
 females(1) = 1         # On the last day of the second month she is pregnant and will give birth the next day
 females(2) = 2         # At the end of the third month there is 2 females, one pregnant, one not 
 females(3) = 3         # Fourth month, we have 3 females, 1 about to give birth, 2 about to get pregnant, and 1 just born
```

 | Month    |   Rabbits     |
 |:--------:|:-------------:|
 |  0       |   1           |
 |  1       |   1           |
 |  2       |   2           |
 |  3       |   3           |
 |  4       |   5           |
 |  5       |   8           |
 |  6       |   13          |

fib(n) = fib(n-1) + fib(n-2)

In [5]:
def fib(x):
    """Assumes x an int >= 0
       Returns Fibonacci of x"""
    global num_fib_calls
    num_fib_calls += 1
    if x == 0 or x == 1:
        return 1
    else:
        return fib(x-1) + fib(x-2)

def test_fib(n):
    for i in range(n+1):
        global num_fib_calls
        num_fib_calls = 0
        print('fib of', i, '=', fib(i))
        print('fib called', num_fib_calls, 'times.')
        
num_fib_calls = 0
print(fib(38), 'times_called', num_fib_calls)

63245986 times_called 126491971

### Now using a dictionary

In [11]:

def fib_dict(x):
    myDict = {0:1, 1:1}
    def fib(x,d):
        global fib_dict_calls 
        fib_dict_calls += 1
        if x in d:
            return d[x]
        else:
            d[x] = fib(x-1, d) + fib(x-2, d)
            return d[x]
    return fib(x, myDict)
fib_dict_calls = 0
print(fib_dict(38), 'times called', fib_dict_calls)

63245986 times called 75

In [26]:
fib_dict_calls = 0
print(fib_dict(30), 'times_called',fib_dict_calls)

1346269 times_called 59

### More Fibonacci algorythms

In [12]:
def fib2(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

In [13]:
fib2(38)

0 1 1 2 3 5 8 13 21 34

In [16]:
def fib3(n):
    """Print a Fibonacci series of order n"""
    global num_iterations
    a, b = 0, 1
    for i in range(n+2):
        #print(f'[{a}]', end=' ')
        num_iterations += 1
        # print(a, 'iter', num_iterations, end=' ' )
        a, b = b, a+b
    return a

global num_iterations
num_iterations = 0
print(fib(38), 'iterations', num_iterations)

63245986 iterations 0

In [38]:
fib3(100)

0 iter 11 1 iter 12 1 iter 13 2 iter 14 3 iter 15 5 iter 16 8 iter 17 13 iter 18 21 iter 19 34 iter 20 55 iter 21 89 iter 22 144 iter 23 233 iter 24 377 iter 25 610 iter 26 987 iter 27 1597 iter 28 2584 iter 29 4181 iter 30 6765 iter 31 10946 iter 32 17711 iter 33 28657 iter 34 46368 iter 35 75025 iter 36 121393 iter 37 196418 iter 38 317811 iter 39 514229 iter 40 832040 iter 41 1346269 iter 42

## Palindromes

```python
          answer = s[0] == s[-1] and is_pal(s[1:-1])
```

In [6]:
def is_palindrome(s):
   """Assumes s is a str
      Returns True if s is a palindrome; False otherwise.
       Punctuation marks, blanks, and capitalization are ignored."""
   ALPHABET = 'abcdefghijklmnopqrstuvwxyz'
   
   def to_chars(s: str) -> str:
      s = s.lower()
      letters = ''
      for c in s:
        if c in ALPHABET:
            letters = letters + c
      return letters

   def is_pal(s: str) -> bool:
      print('  is_pal called with', s)
      if len(s) <= 1:
         print('  About to return True from base case')
         return True
      else:
         answer = s[0] == s[-1] and is_pal(s[1:-1])
         print('  About to return', answer, 'for', s)
         return answer
         
   return is_pal(to_chars(s))

print(is_palindrome('bills carwash'))
print(is_palindrome('taco Cat'))
print(is_palindrome('do good'))
print(is_palindrome('racecar'))
print(is_palindrome('madam im adam'))

  is_pal called with billscarwash
  About to return False for billscarwash
False
  is_pal called with tacocat
  is_pal called with acoca
  is_pal called with coc
  is_pal called with o
  About to return True from base case
  About to return True for coc
  About to return True for acoca
  About to return True for tacocat
True
  is_pal called with dogood
  is_pal called with ogoo
  is_pal called with go
  About to return False for go
  About to return False for ogoo
  About to return False for dogood
False
  is_pal called with racecar
  is_pal called with aceca
  is_pal called with cec
  is_pal called with e
  About to return True from base case
  About to return True for cec
  About to return True for aceca
  About to return True for racecar
True
  is_pal called with madamimadam
  is_pal called with adamimada
  is_pal called with damimad
  is_pal called with amima
  is_pal called with mim
  is_pal called with i
  About to return True from base case
  About to return True for mim
  About to return True for amima
  About to return True for damimad
  About to return True for adamimada
  About to return True for madamimadam
True

In [2]:
people = {3: "Jim", 2: "Jack", 4: "Jane", 1: "Jill"}

def value_getter(item):
    print(item)
    return item[1]

print(sorted(people.items(), key=value_getter))

(3, 'Jim')
(2, 'Jack')
(4, 'Jane')
(1, 'Jill')
[(2, 'Jack'), (4, 'Jane'), (1, 'Jill'), (3, 'Jim')]

In [20]:
from math import *

print(math.pi)

3.141592653589793

In [10]:
fn = 'myfile.txt'
file = open(fn,'r', encoding='utf8')
i = 0
for line in file:
    i+=1
    print(i, line, end='')
file.close()

1 THis is a new day!THis is a new day!
2 THis is a new day!