In [2]:
# 5.2 - Write an express that evaluate to the mean of a tuple of numbers 
# Use the function sum
tup = (1,2,3,4,5)
sum(tup)/len(tup)

3.0

In [4]:
L = [1,2,3]
L.append(L)
print(L is L[-1])
print(L)

True
[1, 2, 3, [...]]

In [9]:
[x for x in range(2, 100) if any(x%y == 0 for y in range(2,x))]

[4,
 6,
 8,
 9,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 21,
 22,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 38,
 39,
 40,
 42,
 44,
 45,
 46,
 48,
 49,
 50,
 51,
 52,
 54,
 55,
 56,
 57,
 58,
 60,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 72,
 74,
 75,
 76,
 77,
 78,
 80,
 81,
 82,
 84,
 85,
 86,
 87,
 88,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 98,
 99]

In [9]:
primes = [x for x in range(2, 100) if all(x%y != 0 for y in range(3,x))]            # Prime number generator 0-100













nonprimes = [x for x in range(2, 100) if any(x%y == 0 for y in range(3,x))]         # Non-Prime number generator
print('Primes',primes,'\nNon-primes',nonprimes)

Primes [2, 3, 4, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
Non-primes [6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99]

In [17]:
def f(L1, L2):
    """L1, L2 lists of same length of numbers 
    returns the sume of raising each element in L1 
    to the power of the element at the same index in L2
    For example, f([1,2],[2,3]) returns 9"""
    return sum([x**y for x,y in zip(L1, L2)])

f([1,2],[2,3])

[(1, 2), (2, 3)]

9

In [2]:
def get_min(d):
    """d a dict mapping letters to ints
    returns the value in d with the key that occurs first in the 
    alphabet. E.g., if d = {x = 11, b = 12}, get_min returns 12"""
    key_list = list(d.keys())
    # print(key_list)
    key_list.sort()
    # print(key_list)
    return d[key_list[0]]

get_min({'x':11, 'b':12})

['x', 'b']
['b', 'x']

12

In [29]:
d = {'x':11, 'b':12}
print(list(d.keys()).sort())

['x', 'b']